
    /**********************
    Layout
    ***********************/
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Oswald', sans-serif;
    }

    header {
        border-bottom: 1px #65626B solid;
        text-align: center;
        padding: 3em 0;
    }

    .name,
    .name a {
        text-decoration: none;
        color: #65626B;
    }

    .gallery-home {
        height: 25%;
        display: flex;
        flex-wrap: wrap;
        margin: 2em; 
    }

    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0 .6em;
    }

    .home-img {
        vertical-align: middle;
        width: 100%;
        margin-top: 1.2em;
    }
  
    footer {
        height: 300px;
        border-top: 1px solid #65626B;
        text-align: center;
    }

    /**********************
    Animation
    **********************/
    .gallery-home {
        animation-name: gallery-animate;
        animation-duration: 3s;
    }

    @keyframes gallery-animate {
        0% {
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    /***** navigation *****/
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 5em;
    }

    nav li {
        margin: 0 6em;  
    }

    nav a {
        text-decoration: none;
        color: #65626B;
        padding: .35em;
    }

    nav a:hover,
    nav a:focus {
        color: #EDE7E4;
    }

    /**********************
    Typography
    ***********************/
    h1 {
        margin: 0;
        font-size: 5em;
        font-weight: 200;
    }

    p {
        margin: 0;
        font-size: 2em;
        font-family: 'Esteban', serif;
    }

    nav a {
        font-size: 2.5em;
        font-weight: 200;
    }

    footer p {
        font-family: 'Oswald', sans-serif;
        color: #65626B;
        padding-top: 3em;
    }
